html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

/* banner start  */

.logo {
    width: 200px;
}

main {
    background-image: linear-gradient(to bottom, #ffffffaf, #001c71),
        url(../images/hero.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.primary-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #EEBC03;
    padding: 0px 0 0px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #01849E;
    color: #fff;
}

.primary-btn i {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.banner-wrapper {
    padding: 80px 0 00px;
}

.google-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.google-logo {
    width: 15%;
}

.google-review-count {
    width: 80%;
}

.google-review-count p {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #fff !important;
}

.banner-wrapper h1 {
    margin-top: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
}

.banner-wrapper h1 span {
    color: #EEBC03;
}

.banner-wrapper p {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.banner-wrapper ul li {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.banner-wrapper ul li i {
    color: #30cce4;
}

.form-wrapper {
    padding: 40px;
    background: rgb(219, 219, 219);
    background: linear-gradient(200deg, #f4f4f4 0%, #ffffff 80%, #028FAD 80%);
    border-radius: 10px;
}

.form-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 26px;
}

.form-wrapper h2 span {
    color: #EEBC03;
}

.form-group {
    margin: 8px 0;
}

.form-control {
    border-radius: 0;
    height: 55px;
}

.form-select {
    border-radius: 0;
    height: 55px;
}

.form-select:focus {
    box-shadow: 0 00 0 0;
}

.form-control:focus {
    box-shadow: 0 00 0 0;
}

.submit-btn {
    margin-top: 15px;
    background-color: #EEBC03;
    color: #fff;
    border: 0;
    border-radius: 30px;
    width: 100%;
    height: 45px;
    transition: 0.3s;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #01849E;
}

.service-slider {
    padding: 100px 0 0;
}

.service-slider-main {
    margin-bottom: -80px;
    background-color: #fff;
    box-shadow: 0 0 40px #060606;
    padding: 20px 0 0;
    border-radius: 20px;
}

.service-slider img {
    width: 50px;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service-slider-main p {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
}

.service-slider-main h2 {
    padding: 5px 0 8px;
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    background-color: #028FAD;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

/* banner end  */


/* about start  */

.about {
    padding: 180px 0 100px;
}

.about h2 {
    font-family: "Montserrat", sans-serif;
    color: #028FAD;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.about h2 span {
    color: #EEBC03;
    font-size: 34px;
}

.about h1 {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.about p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about ul li {
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
}

.about ul li i {
    color: #1E40AF;
}

.about-one-img {
    border-radius: 10px;
    margin-top: -50px;
    border: 4px solid #fff;
    box-shadow: 0 0 20px #000;
}

.about-two-img {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -80px;
    border: 4px solid #fff;
    box-shadow: 0 0 20px #000;
}

.about-one-img img {
    border-radius: 10px;
}

.about-two-img img {
    border-radius: 10px;
}

.secondary-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(to right, #25d5fc, #009ec2);
}

.secondary-btn .sec-btn-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: #EEBC03;
    border-radius: 50%;
}

.secondary-btn .sec-btn-icon i {
    transition: 0.3s;
}

.secondary-btn:hover .sec-btn-icon i {
    transform: rotate(360deg);
}


/* about end  */

/* service start  */

.service {
    clip-path: polygon(70% 0, 100% 5%, 100% 100%, 78% 100%, 0 100%, 0 5%);
    padding: 100px 0;
    background-color: #028FAD;
}

.service-title {
    margin-bottom: 50px;
    text-align: center;
}

.service-title h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #EEBC03;
}

.service-title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.service-title p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.service-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #e9e9e9;
    padding: 15px;
}

.service-img img {
    border: 4px solid #fff;
}

.service-desc {
    min-height: 280px;
    padding: 60px 15px 40px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
}

.service-desc h2 {
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.single-service {
    margin: 8px 0;
    background-color: #dedede;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.service-img img {
    transition: 0.3s;
}

.single-service:hover .service-img img {
    transform: scale(1.05);
}


.service-icon {
    background-color: #fff;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #a6a6a6;
    outline: 2px solid #fff;
    box-shadow: 0 0 20px #000;
}

.service-desc p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 30px;
}


.commercial-hidden {
    display: none;
}

.residential-btn {
    background: linear-gradient(to right, #a07e04, #EEBC03);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 40px;
    border: 3px solid #fff;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.commercial-btn {
    background: linear-gradient(to right, #a07e04, #EEBC03);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 40px;
    border: 3px solid #fff;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

/* service end  */

/* Why choose start  */

.why-choose-us {
    padding: 100px 0;
}

.why-choose-us h1 {
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #000;
}

.why-choose-us-list li {
    padding: 8px 15px;
    margin: 8px 0;
    background-color: #EEBC03;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

/* Why choose end */

/* cta start  */

.cta {
    padding: 100px 0;
    background-image: linear-gradient(to right, #0f3d45af, #0f3d45af),
        url(../images/cta.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.cta-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.cta-wrapper h1 {
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

/* cta end  */

/* request-quote start  */

.request-quote {
    padding: 100px 0;
}

.request-quote h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #EEBC03;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.request-quote h2 span {
    color: #EEBC03;
    font-size: 34px;
}

.request-quote h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.single-step {
    margin: 10px 0;
    padding: 30px 20px;
    box-shadow: 0 0 20px #ddd;
    border-radius: 15px;
}

.step-icon {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-step h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.single-step p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
}

/* request-quote end  */

/* Google review start  */

.google-customer-review {
    padding: 50px 0;
}

.google-customer-review h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000;
}

.es-header-rating-container::after {
    /* content: '(180+)'; */
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 185px;
}

/* Google review end  */

/* Gallery start  */

.gallery {
    padding: 100px 0;
}

.gallery h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #EEBC03;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.gallery h2 span {
    color: #EEBC03;
    font-size: 34px;
}

.gallery h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.gallery-slider-item {
    margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
    color: #EEBC03;
}

/* Gallery end  */

/* map-cta start  */

.map-cta {
    margin: 50px 0;
    background-color: #EEBC03;
}

.map-cta h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.map-cta h1 {
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.map-cta p {
    margin-bottom: 35px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

.map-cta-wrapper {
    background-color: #EEBC03;
    padding: 50px;
}

/* map-cta end  */

/* faq start  */

.faq {
    padding: 100px 0;
}

.faq h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #EEBC03;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.faq h2 span {
    color: #EEBC03;
    font-size: 34px;
}

.faq h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    background-color: #EEBC03;
    box-shadow: none;
    color: #fff;
    background-color: #EEBC03;
}

.accordion-body {
    background-color: #f4f4f4;
    padding: 20px 20px 20px 20px;
    color: #000;
    font-size: 14px;
}

.accordion-button {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background-color: #028FAD;
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
}

.accordion-button:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../images/plus.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png);
}

/* faq end  */


/* footer start  */

footer {
    padding: 100px 0 10px;
    background-image: linear-gradient(to bottom, #000000a9, #ffffffb5, #044454ea, #044454ea),
        url(../images/footer.jpg);

    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.footer-cta h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.footer-link {
    margin-top: 150px;
}

.footer-link h2 {
    margin-bottom: 15px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.footer-link p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
}

.footer-link ul li {
    margin: 8px 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.footer-link ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.footer-link iframe {
    border-radius: 10px;
}

.copyright {
    margin-top: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

.social-link a {
    text-decoration: none;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #01849E;
    font-size: 20px;
    border-radius: 50%;
}

/* footer end  */